{% extends 'base.html' %}


{% block title %}Log In{% endblock title %}


{% block content %}
<h2>Log In</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2" type="submit">Log In</button>
    <a href="{% url 'password_reset' %}" class="btn btn-primary">Forgot password?</a>
</form>
{% endblock content %}
    
    